.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 30%;
}

input[type="text"]:focus {
    outline: none;
    border-color: #ccc;
}
input[type="text"] {
    font-size: 2vw;
    width: 50%;
    height: 80%;
    border-radius: 2vh;
    border: 0.5vw solid #ccc;
    padding:0.4vh;
}

.search-btn {
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5vw;
    padding-block: 1.96%;
    padding-inline: 1.96%
}

.search-btn:hover {
    background-color: cornflowerblue;
}

.search-icon {
    color: black;
}
