.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30%;
}

input[type="text"]:focus {
    outline: none;
    border-color: #ccc;
}
input[type="text"] {
    font-size: 4vw;
    width: 70%;
    height: 100%;
    border-radius: 5vh;
    border: 0.5vw solid #ccc;
    padding:1vh;
}

.search-btn {
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3.3vw;
    padding: 2.56%;
}

.search-btn:hover {
    background-color: cornflowerblue;
}

.search-icon {
    color: black;
}
